
ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
    font-size: 13.5px;
}

li
{
    float: left;
    width: 16%;
}

li.adminovo {

    float: left;
    width: 14%;
}

li a
{
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active)
{
    background-color: #ccd8ff;
}

h1 { color: #00134d; font-family: 'Open Sans', sans-serif; font-size: 34px; font-weight: 300; line-height: 40px; margin: 0 0 16px; }

h2 { color: #00134d;  text-align: center; font-family: 'Open Sans', sans-serif; font-size: 24px; font-weight: 300; line-height: 32px; margin: 0 0 14px; }

div.user {
    color: #00134d;
    text-align: center;
    font-family: 'Droid serif', serif;
    font-size: 20px; font-weight: 400;
    font-style: italic; line-height: 44px;
    margin: 0 0 12px;
    background-color: #e6ecff;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid #00134d;
    border-bottom: 1px solid #00134d;
  }
div.sredina { text-align: center; font-family: 'Droid serif', serif; font-size: 20px; font-weight: 400; font-style: italic; line-height: 44px; margin: 0 0 12px; }

button.button {
    background-color: #99b3ff;
    border: none;
    border-radius: 5px;
    color: #001a66;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

button.button:hover {
    box-shadow: 0 7px 9px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}


table
{
    border-collapse: collapse;
    width: 50%;
}

th, td
{
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

tr:not(:first-child):hover {background-color: #e6f0ff;}

.map {
  height: 400px;
  width: 100%;
}

.footer {
  position:fixed;
  right:0;
  width: 10%;
  height: 5%;
  background-color: #b3ffff;
  border: 1px solid black;
  margin-top: auto;
  text-align: center;
  font-size: 100%;
  bottom: 0;
  text-decoration: none;
  margin-top: 5px;
  padding-top: 6px;
  border-radius: 5px;
}

.footer a:link {color:#006666; text-decoration: none;}      /* unvisited link */
.footer a:visited {color:#006666; text-decoration: none;}  /* visited link */
.footer a:hover {color:#006666; text-decoration: none;}  /* mouse over link */
.footer a:active {color:#006666; text-decoration: none;}  /* selected link */

a:link {color:#004d4d; text-decoration: none;  font-weight: bold;}      /* unvisited link */
a:visited {color:#004d4d; text-decoration: none;  font-weight: bold;}  /* visited link */
a:hover {color:#004d4d; text-decoration: none; font-weight: bold;}  /* mouse over link */
a:active {color:#004d4d; text-decoration: none; font-weight: bold;}  /* selected link */

p.obavijesti {
    font-size: 30px;
    color: #156483;
    left:0;
    right:0;
    width: 100%;
    height: 50px;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    border-radius: 5px;
}

p.korisnici {
    float: left;
    width: 25%;
    border-radius: 5px;
    height:100px;
    font-size: 20px;
}

.unutra {
    padding-top: 20px;
    vertical-align: middle;
}
p.korisnici:hover:not(.active)
{
    background-color: #e0e7ff;
}
