
ul 
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
}
  
li 
{
    float: left;
    width: 16%;
}
  
li a 
{
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
li a:hover:not(.active) 
{
    background-color: #ccd8ff;
}
  
h1 { color: #00134d; font-family: 'Open Sans', sans-serif; font-size: 34px; font-weight: 300; line-height: 40px; margin: 0 0 16px; }

h2 { color: #00134d;  text-align: center; font-family: 'Open Sans', sans-serif; font-size: 24px; font-weight: 300; line-height: 32px; margin: 0 0 14px; }

div.user { 
    color: #00134d; 
    text-align: center; 
    font-family: 'Droid serif', serif; 
    font-size: 20px; font-weight: 400; 
    font-style: italic; line-height: 44px; 
    margin: 0 0 12px;
    background-color: #e6ecff;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid #00134d;
    border-bottom: 1px solid #00134d;
  }
div.sredina { text-align: center; font-family: 'Droid serif', serif; font-size: 20px; font-weight: 400; font-style: italic; line-height: 44px; margin: 0 0 12px; }

button.button {
    background-color: #99b3ff; 
    border: none;
    border-radius: 5px;
    color: #001a66;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
}

button.button:hover {
    box-shadow: 0 7px 9px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}


table 
{
    border-collapse: collapse;
    width: 50%;
}
  
th, td 
{
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

tr:not(:first-child):hover {background-color: #e6f0ff;}

